.about {
  &__dropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    &__dropdown {
      align-items: center;
    }
  }
}
