.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  img {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 768px) {
  .rating-container {
    order: 2;
  }
}
