.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &__logo {
    width: 145px;
    height: 47px;
  }

  &__navbar__mobile {
    display: flex;
    flex-direction: row;
    gap: 26px;
    font-weight: 500;
  }

  &__navbar__desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__navbar__mobile {
      display: none;
    }

    &__navbar__desktop {
      display: flex;
      flex-direction: row;
      gap: 57px;
      font-weight: 500;
      font-size: 24px;
    }
  }
}
