:root {
  --primary-color: #ff6060;
}

body {
  min-width: 360px;
  max-width: 1440px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

main {
  display: flex;
  justify-content: center;
  gap: 20px;
}
