@import '../styles/index.css';

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--primary-color);

  &__name {
    font-size: 10px;
    font-weight: 500;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .tag {
    width: 115px;
    height: 25px;
    &__name {
      font-size: 14px;
    }
  }
}
