.logement {
  background: aliceblue;

  &__details,
  &__dropdown {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .logement {
    &__details,
    &__dropdown {
      display: flex;
      flex-direction: row;
    }
  }
}
