.host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  &__name {
    color: var(--primary-color);
  }
  &__img {
    border-radius: 65px;
    height: 32px;
    width: 32px;
  }
}

@media screen and (min-width: 768px) {
  .host {
    order: 1;
    &__name {
      font-size: 18px;
    }
    &__img {
      height: 64px;
      width: 64px;
    }
  }
}
