.carrousel {
  position: relative;
  width: 100%;
  height: 250px;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  i {
    position: absolute;
    top: 45%;
    color: white;
    font-size: 30px;
  }

  .fa-chevron-left {
    left: 10px;
  }
  .fa-chevron-right {
    right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .carrousel {
    &__img {
      border-radius: 25px;
    }
  }
}
