.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
  text-transform: uppercase;

  &__logo {
    width: 145px;
    height: 47px;
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  a {
    text-decoration: none;
    color: black;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    text-transform: none;
    &__logo {
      width: 210px;
      height: 68px;
    }

    &__navbar {
      gap: 57px;
      font-size: 24px;
    }
  }
}
